<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Otokar Janek</string>
		<key>date</key>
		<string>1498823630</string>
		<key>message</key>
		<string>Hello! How are you?</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reginald Darrell</string>
		<key>date</key>
		<string>14988235209</string>
		<key>message</key>
		<string>Ever extremely, complete, not toil trivial those example</string>
		<key>new_messages</key>
		<integer>3</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nathaniel Elwin</string>
		<key>date</key>
		<string>1498822098</string>
		<key>message</key>
		<string>What happens?</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominick Cyprian</string>
		<key>date</key>
		<string>1498818976</string>
		<key>message</key>
		<string>Trivial but all pain again</string>
		<key>new_messages</key>
		<integer>1</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shad Herbert</string>
		<key>date</key>
		<string>1498818405</string>
		<key>message</key>
		<string>Painful pursue teachings to happiness: us born do except that him actual one are know fault explorer us advantage.</string>
		<key>new_messages</key>
		<integer>6</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Klemens Junior</string>
		<key>date</key>
		<string>1498812674</string>
		<key>message</key>
		<string>Complete enjoy one man take trivial explain</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Goodwin Jordan</string>
		<key>date</key>
		<string>1498817459</string>
		<key>message</key>
		<string>Procure must because mistaken, or - truth painful</string>
		<key>new_messages</key>
		<integer>1</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Merten Royston</string>
		<key>date</key>
		<string>1498817302</string>
		<key>message</key>
		<string>Hi</string>
		<key>new_messages</key>
		<integer>2</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Trey Seth</string>
		<key>date</key>
		<string>1498819484</string>
		<key>message</key>
		<string>Laborious pain itself of how fault</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thomas Martin</string>
		<key>date</key>
		<string>1498718450</string>
		<key>message</key>
		<string>Rationally explorer enjoy, resultant idea denouncing, system because those procure him, desires again annoying advantage fault occur builder fault. Ever human take complete born and which actual procure, master, occur are occasionally, ever annoying example, occasionally: is those.</string>
		<key>new_messages</key>
		<integer>3</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Berry Vergil</string>
		<key>date</key>
		<string>1498618362</string>
		<key>message</key>
		<string>Some how in advantage complete one nor chooses</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vincent Conner</string>
		<key>date</key>
		<string>1498518302</string>
		<key>message</key>
		<string>Was truth enjoy from which laborious idea - human</string>
		<key>new_messages</key>
		<integer>0</integer>
		<key>avatar</key>
		<string>logo</string>
	</dict>
</array>
</plist>
